$lincolnMaroon: #892034;
$logoTextShadow: -3px 3px 5px rgba(0, 0, 0, 0.8);

html, body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  margin:0px;
  min-height: 100%;
  }

#map {
  border: 1px solid black;
  }

#activityList {
    overflow: scroll;
    cursor: pointer;
    li {
        list-style:none;
    }
}

.activityItem.icon {
   opacity:0.4;
}

.activityItem:hover .icon{
        opacity:6;
}

.activityItem:hover span{
        opacity:1;
}

.activityItem span {
    opacity:0.6;
}

#timestamp{
  text-align: right;
  font: {
    style:  normal;
    size:   10px;
  }
}

header {
    height:35px;
    background-color:$lincolnMaroon;
}

.filterCategory {

}

#appName{
  position: relative;
  color: white;
  text-align:center;
  text-shadow: $logoTextShadow;
  font: {
    family: 'Ubuntu', arial, serif;
    weight: bold;
    style:  normal;
    size:   28px;
    weight: 700;
  }
}

.devices{
    color:white;
}

#activityListHeader{
    background-color: #efebe7;
    position:relative;
    left:5px;
}

#menu{
    position:relative;
    display:inline;
    #analytics {
        position:relative;
        display:inline;
        left: 98%;
        top: -25px;
    }
}