$lincolnBGColor: #892034;
$logoTextShadow: -3px 3px 5px rgba(0, 0, 0, 0.8);

html, body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  margin:0px;
  min-height: 100%;
  }

#map {
  border: 1px solid black;
  }

#activityList {
    overflow: scroll;
    cursor: pointer;
    li {
        list-style:none;
    }
}

.activityItem{
    display: table;
    border-bottom: 1px solid gray;
    width: 250px;
}

.activityItem.icon {
   opacity:0.4;
}

.activityItem:hover .icon{
        opacity:6;
}

.activityItem:hover span{
        opacity:1;
}

.activityItem span {
    opacity:0.6;
}

#timestamp{
  text-align: right;
  font: {
    style:  normal;
    size:   10px;
  }
}

header {
    height:35px;
    background-color:$lincolnBGColor;
}

.filterCategory {

}

#appName{
  position: relative;
  color: white;
  text-align:center;
  text-shadow: $logoTextShadow;
  font: {
    family: 'Ubuntu', arial, serif;
    weight: bold;
    style:  normal;
    size:   28px;
    weight: 700;
  }
}

.devices{
    color:white;
}

#activityListHeader{
    background-color: #efebe7;
    position:relative;
    left:5px;
}

#menu{
    position:relative;
    display:inline;
    #analytics {
        position:relative;
        display:inline;
        left: 98%;
        top: -25px;
    }
}

#analyticsDisplay{
    display:none;
    background-color:black;
    width:605px;
    height:425px;
    border-radius: 8px;
    opacity:0.7;
    margin-left: auto ;
    margin-right: auto ;
    #analyticsHeader{
        color:white;
        opacity:0.9;
        text-align:center;
        font-family:'Ubuntu';
        font-weight:bold;
    }
}

#visualization{
    background-color:black;
    border-radius: 8px;        
    width: 600px;
    height: 400px;
    opacity:0.7;
}