html, body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: medium; }

#map {
  border: 1px solid black;
  }

#activityList {
    overflow: scroll;
    height: 900px;
    cursor: pointer;
    li {
        list-style:none;
    }
}

.user {
    font-weight:bold;
}

.icon {
   opacity:0.4;
}

.activityItem:hover .icon{
        opacity:6;
}

.activityItem:hover span{
        opacity:1;
}

.activityItem span {
    opacity:0.6;
}

header {
    height:30px;
    text-align:center;
    color:maroon;
}

.filterCategory {

}