%html
  %head
    %title BigBro Add event
    %link{:href => "css/bigbro.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "js/lib/jquery-1.4.4.js"}
    %script{:src => "js/lib/jquery.json-2.2.min.js"}
    %script{:src => "js/addactivity.js"}
    %script{:src => "js/lib/jquery.cookie.js"}
    %script{:src => "js/track_app.js"}
    %link{:href => "css/overlay.css", :rel => "stylesheet"}
  %body
    #event
      %form{:action => '/activity', :method => 'POST', :id => 'eventForm'}
        %table
          %tr
            %td
              User
            %td
              %input{:type => 'text', :name => 'user'}
          %tr
            %td
              App
            %td
              %select{:name => 'application'}
                %option{:value => "iPresent"} iPresent
                %option{:value => "iEngage"} iEngage
                %option{:value => "LincPad"} LincPad
          %tr
            %td
              Event
            %td
              %input{:type => 'text', :name => 'event'}
          %tr
            %td
              Device Type
            %td
              %select{:name => 'deviceType'}
                %option{:value => "android_phone"} Android Phone
                %option{:value => "android_tablet"} Android Tablet
                %option{:value => "iphone"} iPhone
                %option{:value => "ipad"} iPad
          %tr
            %td
              OS Version
            %td
              %input{:type => 'text', :name => 'osVersion'}
          %tr
            %td
              Latitude
            %td
              %input{:type => 'text', :id => 'lat',:name => 'lat'}
          %tr
            %td
              Longitude
            %td
              %input{:type => 'text', :id => 'lng',:name => 'lng'}
          %tr
            %td
              %input{:type => 'button', :id => 'submitActivity', :value => 'Post Event'}
              %input{:type => 'button', :id => 'testActivity', :value => 'Test Post Event'}

    .overlay
      .wrap-outer
        .wrap
          .my-dialog
            %h1 Checkin
            %input{:id => "checkinUser", :placeholder => "user@lfg.com", :type => "text"}
              %button{:id => 'checkIn'} Check In