!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title BigBro
    %link{:href => "css/bigbro.css?2", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/flex-box.css?2", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/slidepanel.css?2", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bolditalic", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "http://maps.google.com/maps/api/js?sensor=false", :type => "text/javascript"}
    %script{:src => "js/lib/jquery-1.4.4.js"}
    %script{:src => "js/lib/underscore-1.1.3.js"}
    %script{:src => "js/lib/backbone.js"}
    %script{:src => "js/lib/handlebars-0.9.0.pre.4.js"}
    %script{:src => "js/lib/jquery.slidePanel.js"}
    %script{:src => "js/lib/jquery.lightbox_me.js"}
    %script{:src => "js/analytics_controller.js?3"}
    %script{:src => "js/activity_controller.js?2"}
    %script{:src => "js/map_controller.js?2"}
    %script{:src => "js/sse_controller.js?2"}
    %script{:src => "js/searchfilter_controller.js?2"}
    %script{:src => "js/bigbro.js?2"}
    %script{:src => "http://www.google.com/jsapi"}    
    :javascript
      google.load('visualization', '1', {packages: ['corechart']});

    = haml :'jstemplates/activityListItem'
    = haml :'jstemplates/mapPopup'    
  %body
    %header
      #appName Lincoln App Tracker
      #menu
        #analytics
          %img{:src => 'images/pie_chart.png'}
    #search
      %a#trigger2.trigger.right{:href => "#"} Filter
      #panel2.panel.right
        #devices
          .filterCategory Filter By Device
          %input{:type =>'checkbox', :id =>'iPhone', :value => 'iPhone', :name => 'devices'}
          %label{:for => 'iPhone'} iPhone
          %br
          %input{:type =>'checkbox', :id =>'iPad', :value => 'iPad', :name => 'devices'}
          %label{:for => 'iPad'} iPad
          %br
          %input{:type =>'checkbox', :id =>'galaxyTab', :value => 'galaxyTab', :name => 'devices'}
          %label{:for => 'galaxyTab'} Galaxy Tablet
          %br
          %br
        #apps
          .filterCategory Filter By Application
          %input{:type =>'checkbox', :id =>'LincPad', :value => 'LincPad', :name => 'apps'}
          %label{:for => 'LincPad'} LincPad
          %br
          %input{:type =>'checkbox', :id =>'iEngage', :value => 'iEngage', :name => 'apps'}
          %label{:for => 'iEngage'} iEngage
          %br
          %input{:type =>'checkbox', :id =>'iPresent', :value => 'iPresent', :name => 'apps'}
          %label{:for => 'iPresent'} iPresent
  .flex-container
    #activity
      #activityListHeader Activity
      #activityList.col-1-flex
    #map.col-2-flex
#analyticsDisplay
  #analyticsHeader Analytics
  #visualization
