%script{:name => "mapPopup_tpl", :type => "text/x-handlebars-template"}
  .mapPopup
    %div{:style => "display: table;"}
      %div{:style => "display: table-row;"}
        %div{:style => "display: table-cell;"}
          %span
            %img.icon{:src => '/images/user.png'}
          %span.user {{user}}
      %div{:style => "display: table-row"}
        %div{:style => "display: table-cell;"}
          %span
            %img.icon{:src => '/images/device.png'}
          %span {{application}}
      %div{:style => "display: table-row"}
        %div{:style => "display: table-cell;"}
          %span
          %img.icon{:src => '/images/event.png'}
          %span {{event}}
      %div{:style => "display: table-row"}
        %div{:style => "display: table-cell;"}
          %span
          %img.icon{:src => '/images/map.png'}
          %span location
      %div{:style => "display: table-row"}
        %div{:style => "display: table-cell;"}
          %span#timestamp 10/20/2001 10:10 PM


